body
  {
    font-family: 'Helvetica', sans-serif;
  }
  
  h1,h2,h3,h4,h5,h6
  {
    font-family: 'Courier New', sans-serif;
  }
  
  .small
  {
    font-weight: 250;
    font-style: italic;
  }
  
  .search-books-form-div
  {
    border: 2px solid black;
    padding: 12px;
    border-radius: 6px;
    margin: 12px;
  }
  
  .search-books-form
  {
    margin: 12px 0;
  }
  
  .search-books-form label {
    margin: 12px;
  }
  
  .search-books-form input {
    padding: 9px;
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
    width: 100%;
  }
  
  .search-form-btn {
    margin: 12px 0;
    padding: 12px;
    border-radius: 6px;
    width: 110%;
    font-weight: bold;
    background-color: rgb(197, 228, 255);
  }